<!DOCTYPE html>
<html>
  <head>
    <%= image_tag("hallo.jpg", class: "img-responsive") %>
  </head>
  <div class= "greeting">
    <h2>Welcome to the fashion lable called "Maia"</h2>
      <p>Your fashion brand for fairylike and luxurious fashion</p>
  </div>
</html>
