<div class="collection">
  <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
  <%= image_tag("bild1.jpg", class: "img-responsive")%>
</div>
  <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
    <%= image_tag("bild2.jpg", class: "img-responsive")%>
  </div>
  <div class="col-md-4 col-xs-12 col-lg-4 col-sm-12">
    <%= image_tag("bild3 .jpg", class: "img-responsive")%>
  </div>
</div>
