 <div class="container_about" id= "about">
   <div class="About">
     <h1> Welcome to my about me section! </h1>
       <p> My name is Jessi and I am currently a students at EBS university. Together with a friend of mine, we created the fashion brand caled "Maia". </p>
       <p> Altough I do not have any experience in programming, I do have expertise in the field of marekting strategy and marketing research gained by work experience as well as academia.These skills help me especially with the branding of my own brand. At Maia, we want to create efordless and luxorious fashion for the every day women. Our special characteristic is that the clothes we create look fairylike and should make feel every women great in their own skin. </p>
   </div>
   <div class="History of the brand Maia">
     <h1> History of the brand Maia </h1>
       <p>From when I was very young, my interest in fashion was always present, which also got me interested in drawing from a young age. Colors and the way they merge together and kind of change your own mood were especially always fascinating for me. The creation of something that has never been there before and the skill to develop something with your own hands were the most important part of drawing for me.  Being creative is essential in order to design successfull clothes and creativity was therefore the fundament on which I built the development of my fashion brand. We are currently at the beginning stages of our brand development and planning to launch our very first collection in July 2018. The first collection will contain two different long-arm jumpsuits as well as a long-arm dress. The collection will be for autum/winter 2018 and is therefore in wintery colours as well as off-white. For the beginning, we will start selling our collection in 4 different boutiques in frankfurt and will thereafter be present in more and more boutiques. The start of building something new will not always be easy, but if you are willing to give in everything and more, you will be rewarded. This is our philosophy at Maia.</p>
   </div>
   <div class="Our vision at Maia">
     <h1>Our vision at Maia</h1>
       <p>In a world where being dressed nice becomes more and more important, the feeling of being comfortable within your own skin, should always be considered as well. We at Maia only use luxurious fabrics like silk and cashmere in order to make the woman, who wears our designs feel like a fairytale. All our cuts are flirty and loose in order to allow the woman, who wears it, to move freely and not be restricted by any narrow design. Furthermore, we use rich and colorful patterns in order to make a rainy day shiny and more bearable. </p>
   </div>
 </div>
