<div class= "Picture">
  <%= image_tag("www.jpg", class: "img-responsive") %>
  <div class= "placer" id= "contact">
    <div class="header_contact">
      <h1> Contact</h1>
    </div><!-- end header -->
    <div class="Text">
      <p> If you want to know more about our collection and lable, feel free to contact me at any time. </p>
    </div><!-- end Text -->
    <div class="Mail">
      <p>Jessica.zdralek@gmx.de</p>
    </div><!--end Mail-->
    <div class="Text2">
      <p> If time urgency is high, please feel free to call me. </p>
    </div><!-- Text2 -->
    <div class="Phonenumber">
      <p> 015234275420</p>
    </div><!--end Phone number-->
    <div class="Location">
      <p><a class="btn btn-default" href="https://www.google.de/maps/place/Moritzstra%C3%9Fe+20,+65185+Wiesbaden/@50.075574,8.2365761,17z/data=!3m1!4b1!4m5!3m4!1s0x47bdbde08c2cf18f:0xe49e0da2e4f19acf!8m2!3d50.0755706!4d8.238770" role="button">Google Maps &raquo;</a></p>
        </div>
      <p><a class="btn btn-default" href="https://www.facebook.com/jessica.zdralek.7" role="button">Facebook &raquo;</a></p>
    </div>
  </div><!-- end Placer -->
</div><!-- end Picture-->
